{% extends "base.html"%}
{% block body_block %}

<section class="schome">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1 style="font-size:6vw;">Meet different people when you go out.</h1>
                <h3>Don't just have fun, Win something every time you upload a challenge video.</h3><br>
                <button onclick="window.location.href = '/accounts/register/';" class="theme-btn btn-style-three"><i class="fas fa-quote-left"></i> Get Started!</button>
            </div>
        </div>
    </div>
</div>
</section>



    <!-- Features Section -->
    <section class="features-section">
    	<span class="float-text">how it works</span>
    	<div class="auto-container">
    		<div class="sec-title">
    			<h2>How it works</h2>
    		</div>

    		<div class="row">
    			<!-- Feature Block -->
    			<div class="feature-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
    				<div class="inner-box">
    					<div class="icon-box"><span class="icon flaticon-best"><i class="fas fa-video"></i></span></div>
    					<h4>Create Profile</h4>
    					<div class="text">Create profile and wait for verification process.</div>
    					
    				</div>
    			</div>

    			<!-- Feature Block -->
    			<div class="feature-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
    				<div class="inner-box">
    					<div class="icon-box"><span class="icon flaticon-rocket-1"><i class="fas fa-fire"></i></span></div>
    					<h4>Invite</h4>
    					<div class="text">Invite other people for Coffee/Lunch/Dinner.</div>
    				</div>
    			</div>

    			<!-- Feature Block -->
    			<div class="feature-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
    				<div class="inner-box">
    					<div class="icon-box"><span class="icon flaticon-medal-3"><i class="fas fa-gifts"></i></span></div>
    					<h4>Boom!</h4>
    					<div class="text">Accept the invitation and go out out with creative people.</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!--End Features Section -->

  

   <!--  -->
{% endblock %}